#buttonRow {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 15px;
	left: 0px;
	background-color: #F4F0E5;
}

.buttonRowBtn {
    float: right;
    color: #F4F0E5;
    font-size: 11px;
    background-color: #062F4F;
    border: none;
}

#fileNameBox {
	position: absolute;
	height: 8px;
	font-size: 9px;
	margin: 1px;
}

#editor { 
	position: absolute;
	top: 16px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}


